<!-- BREADCRUMB -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>{{pageTitle}}</h2>
          <div class="breadcrumb__option">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Section Begin -->
<section class="product spad">
  <div class="container">
    <div class="row">

      {{!-- Sidebar danh mục sản phẩm --}}
      <div class="col-lg-3 col-md-5">
        <div class="sidebar">
          <div class="sidebar__item">
            <h4>Danh mục sản phẩm</h4>
            <ul>
              {{#if catalogList}}
              {{#each catalogList}}
              <li><a href="/catalog/{{this.nameCat}}">{{this.nameCat}}</a></li>
              {{/each}}
              {{else}}
              <li><a href="#">Không có danh mục nào</a></li>
              {{/if}}
            </ul>
          </div>
        </div>
      </div>

      {{!-- Main content - sản phẩm --}}
      <div class="col-lg-9 col-md-7">

        <div class="row">
          {{!-- Nếu có danh sách sản phẩm --}}
          {{#if products}}
          {{#each products}}
          <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
            <div class="product__item">
              <div class="product__item__pic set-bg" data-setbg="{{this.thumbnail}}"> </div>
              <div class="product__item__text text-center">
                <h6><a href="/product/{{this._id}}">{{this.title}}</a></h6>
                <span class="text-success">{{this.sellPrice}} đ</span>
              </div>
            </div>
          </div>
          {{/each}}
          {{!-- Không có dữ liệu --}}
          {{else}}
          <div class="col-12 text-center">
            <div class="alert alert-info">Danh mục trống.</div>
          </div>
          {{/if}}
        </div>

        {{!-- Pagination --}}
        <div class="product__pagination">
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#"><i class="fa fa-long-arrow-right"></i></a>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Product Section End -->
<!-- Script xử lý set-bg -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".set-bg").forEach(function (el) {
      const bg = el.getAttribute("data-setbg");
      if (bg) el.style.backgroundImage = `url('${bg}')`;
    });
  });
</script>