<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Tables - SB Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="/css/styles_admin.css" rel="stylesheet" />
        <link href="/css/style_order_management.css" rel="stylesheet" />

        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/admin">Trang quản lý </a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">{{user.username}}</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="nav">
                            <div class="sb-sidenav-menu-heading">Quản lý</div>
                            <a class="nav-link" href="/admin/category">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-list"></i></div>
                                Quản lý danh mục 
                            </a>
                            <a class="nav-link" href="/admin/order">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-money-bill"></i></div>
                                Quản lý đơn hàng 
                            </a>
                            <a class="nav-link" href="/admin/customer">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
                                Quản lý khách hàng
                            </a>
                            <a class="nav-link" href="/admin/staff">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-user-tie"></i></div>
                                Quản lý nhân viên
                            </a>
                             <a class="nav-link" href="/admin/support">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-user-tie"></i></div>
                                Trung tâm hỗ trợ
                            </a>
                
                        </div>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Xin chào,</div>
                        {{user.username}}
                    </div>
                </nav>
            </div>

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">QUẢN LÝ KHÁCH HÀNG</h1>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Bảng dữ liệu khách hàng
                            </div>
                            <div class="card-body">
                                 <table id="datatablesSimple" class="table table-hover align-middle">
                                    <thead>
                                        <tr>
                                            <th>Tên đăng nhập</th>
                                            <th>Họ và tên</th>
                                            <th>Email</th>
                                            <th>Trạng thái</th>
                                            <th>Hạng</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                    
                                    <tbody>
                                    {{#each customers}}
                                        <tr>
                                            <td>{{this.username}}</td>
                                            <td>{{this.fullName}}</td>
                                            <td>{{this.emailAddress}}</td>
                                            <td class="text-center align-middle">
                                                {{#if (eq this.status "active")}}
                                                <span class="btn btn-success btn-sm text-uppercase">{{this.status}}</span>
                                                {{else}}
                                                <span class="btn btn-danger btn-sm text-uppercase">{{this.status}}</span>
                                                {{/if}}
                                            </td>
                                            
                                            <td class="text-center align-middle">
                                                <div class="d-flex justify-content-center gap-2"></div>
                                                    {{#if this.rank}}
                                                        {{#if (eq this.rank "GOLD")}}
                                                        <span class="btn btn-warning btn-sm text-uppercase">VÀNG</span>
                                                        {{else}}
                                                        {{#if (eq this.rank "DIAMOND")}}
                                                            <span class="btn btn-primary btn-sm text-uppercase">KIM CƯƠNG</span>
                                                        {{else}}
                                                            <span class="btn btn-secondary btn-sm text-uppercase">BẠC</span>
                                                        {{/if}}
                                                        {{/if}}
                                                    {{else}}
                                                        <span class="btn btn-secondary btn-sm text-uppercase">Bạc</span>
                                                    {{/if}}
                                                </div>
                                            </td>

                                            <td class="text-center align-middle">
                                                <div class="d-flex justify-content-center gap-2">
                                                    {{#if (eq this.status "active")}}
                                                    <a href="/admin/customer/lock/{{_id}}" class="btn btn-danger btn-sm" title="Khóa tài khoản">Khóa</a>
                                                    {{else}}
                                                    <a href="/admin/customer/unlock/{{_id}}" class="btn btn-success btn-sm" title="Gỡ khóa tài khoản">Mở khóa</a>
                                                    {{/if}}
                                                    <a href="/admin/customer/view/{{_id}}" class="btn btn-primary btn-sm" title="Xem thông tin khách hàng"><i class="fa-solid fa-user"></i> Xem</a>
                                                    <a href="/admin/customer/upgrade/{{_id}}" class="btn btn-warning btn-sm" title="Nâng cấp hạng khách hàng"><i class="fa-solid fa-star"></i> Nâng cấp</a>
                                                </div>
                                            </td>
                                        </tr>
                                    {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Bản quyền &copy; Trang quản trị của nhóm 1</div>
                            <div>
                                <a href="#">Chính sách bảo mật</a>
                                &middot;
                                <a href="#">Điều khoản &amp; Điều kiện</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="/js/datatables-simple-demo.js"></script>
    </body>
</html>
